// Define Inigual variables
//$inigual-primary-color: #62afb7;


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pssa-inigual-primary: mat-palette($mat-blue-grey, 200, 500, 300);
$pssa-inigual-accent: mat-palette($mat-pink, 400);

// The warn palette is optional (defaults to red).
$pssa-inigual-warn: mat-palette($mat-deep-orange, 200);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pssa-inigual-theme: mat-light-theme((
  color: (
    primary: $pssa-inigual-primary,
    accent: $pssa-inigual-accent,
    warn: $pssa-inigual-warn
  )
));
